<%- include('./partials/header') %>

<section class="showcase">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center showcase-text">
                <h1 class="mb-5"><%= data.title %></h1>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-5">Send us message:</h3>
                <form action="/send" method="post">
                    <div class="form-group">
                        <label for="firstname">First name*</label>
                        <input class="form-control" type="text" placeholder="Enter your firstname" name="firstname"
                            id="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last name*</label>
                        <input class="form-control" type="text" placeholder="Enter your lastname" name="lastname"
                            id="lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="Enter your email"
                            required>
                    </div>
                    <div class="from-group">
                        <label for="message">Message*</label>
                        <textarea class="form-control" name="text" id="text" cols="30" rows="10"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3 class="mb-5 invisible">Send us message</h3>
                <ul class="ml-5">
                    <li>
                        <a href="tel:+381665850792"><img src="./images/phone.svg" alt=""> <span>Cellular: </span>
                            <%= data.phone %> </a>
                    </li>
                    <li>
                        <a href="tel:+381669159702"><img src="./images/whatsapp.svg" alt=""> <span>Whatsapp: </span>
                            <%= data.whatsapp  %> </a>
                    </li>
                    <li>
                        <a href="mailto:office@iqstash.com"><img src="./images/mail.svg" alt=""> <span>Email:
                            </span>
                            <%= data.email %></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>