<%- include('./partials/header') %>

<section class="showcase">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center showcase-text">
                <h1 class="mb-5"><%= data.title %></h1>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="tel:+381665850792"><img src="./images/phone.svg" alt=""> <span>Cellular: </span>
                            <%= data.phone %> </a>
                    </li>
                    <li>
                        <a href="tel:+381669159702"><img src="./images/whatsapp.svg" alt=""> <span>Whatsapp: </span>
                            <%= data.whatsapp  %> </a>
                    </li>
                    <li>
                        <a href="mailto:office@iqstash.com"><img src="./images/mail.svg" alt=""> <span>Email:
                            </span>
                            <%= data.email %></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>